aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.8.1
altair==4.1.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.3.0
anyio==3.5.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autopage==0.5.1
awscli==1.25.61
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.4
botocore==1.27.60
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==5.0.0
charset-normalizer==2.0.9
chromedriver-autoinstaller==0.3.1
click==8.1.3
cliff==4.0.0
cloudpickle==2.1.0
cmaes==0.8.2
cmd2==2.4.2
colorama==0.4.4
colorlog==5.0.1
coverage==6.4.4
cryptography==36.0.2
cssselect==1.1.0
cycler==0.11.0
dateparser==1.1.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.0.0
docutils==0.16
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.1
flake8==5.0.4
fonttools==4.25.0
frozenlist==1.3.0
future==0.18.2
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-bigquery==2.31.0
google-cloud-core==2.2.1
google-cloud-storage==1.44.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.0
great-expectations==0.7.6
greenlet==1.1.3
grpcio==1.42.0
grpcio-status==1.42.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
html-similarity==0.3.3
htmldate==1.0.0
httplib2==0.20.4
hyperframe==6.0.1
idna==3.3
imagesize==1.4.1
importlib-metadata==4.11.3
importlib-resources==5.7.1
imutils==0.5.4
iniconfig==1.1.1
ipwhois==1.2.0
ipykernel==6.11.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.1
jmespath==1.0.1
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.1
jupyter-console==6.4.4
jupyter-core==4.9.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kaitaistruct==0.9
kiwisolver==1.4.2
llvmlite==0.36.0
lxml==4.7.1
Mako==1.2.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==2.0.4
multidict==6.0.2
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.2.0
nest-asyncio==1.5.4
notebook==6.4.12
numpy==1.22.3
opencv-contrib-python==4.5.5.62
outcome==1.1.0
packaging==21.3
pandas==1.4.1
pandasql==0.7.3
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
pbr==5.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
playwright==1.17.2
pluggy==1.0.0
portpicker==1.5.2
prettytable==3.4.1
prometheus-client==0.13.1
prompt-toolkit==3.0.28
proto-plus==1.19.8
protobuf==3.19.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybigquery==0.10.2
pybind11==2.8.1
pycodestyle==2.9.1
pycparser==2.21
pyee==8.2.2
pyfiglet==0.8.post1
pyflakes==2.5.0
Pygments==2.11.2
pyOpenSSL==22.0.0
pypandoc==1.8.1
pyparsing==3.0.7
pyperclip==1.8.2
PyQt5==5.12.3
PyQt5-sip==12.11.0
PyQtChart==5.12.0
PyQtWebEngine==5.12.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==6.2.5
pytest-metadata==1.11.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-editor==1.0.4
python-whois==0.7.3
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.3.2
QtPy==1.9.0
regex==2021.11.10
requests==2.27.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.8.0
selenium==4.1.3
selenium-wire==4.5.6
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
slicer==0.0.7
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.40
-e git+https://github.com/carolinalmeidaduarte/similar_website_detection.git@9677d8c792cd63a12af9db2da737b3362e898a2f#egg=src
stack-data==0.2.0
stevedore==4.0.0
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.4
testpath==0.6.0
textdistance==4.4.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.1.1
trio==0.20.0
trio-websocket==0.9.2
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
uritemplate==3.0.1
urllib3==1.26.7
urllib3-secure-extra==0.1.0
vptree==1.2
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.8.3
webencodings==0.5.1
websockets==10.1
widgetsnbextension==4.0.3
wsproto==1.0.0
yarl==1.7.2
zipp==3.7.0
zstandard==0.16.0
